---
import Layout from '../layouts/Layout.astro';
import YouTubeCard from '../components/youtubeCard.astro';
---

<Layout title="Sr. Ditinho Joana">

    <div class="container">
        <h1>Vídeos condaga da Dona Luzia</h1>
    </div>

    <div>
        <YouTubeCard title="A arte de Ditinho Joana" id="Xe1j6c0hVx4" />
        <YouTubeCard title="Ditinho Joana no Programa do Jô - Parte 1" id="QOZKjf81q9Q" />
        <YouTubeCard title="Ditinho Joana no Programa do Jô parte 2" id="QWTujwtjYCI" />
        <YouTubeCard title="Ditinho Joana no Programa do Jô - Parte 3" id="UvBSy47fEJU" />
        <YouTubeCard title="ELE SAIU DA ROÇA E SE TORNOU ARTISTA! DITINHO JOANA - PARTE 01" id="TFBegYJoSXc" />
        <YouTubeCard title="TRANSFORMANDO MADEIRA EM OBRA DE ARTE: DITINHO JOANA - PARTE 02" id="H28cSU2Fm-A" />
        <YouTubeCard title="O QUE É VIVER BEM?: DITINHO JOANA - PARTE 3" id="OLFoz8N6ND0" />
        <YouTubeCard title="ELE COZINHOU PARA O JÔ SOARES - TARECO - DITINHO JOANA" id="TT6wdXwIViw" />
        <YouTubeCard title="Conheça o lindo trabalho do escultor Ditinho Joana" id="xmei0FKtpek" />
        <YouTubeCard title="DITINHO JOANA - Yellow House Produções" id="EpRyafiBujU" />
        <YouTubeCard title="Ateliê Ditinho Joana Revelando SP" id="FnXPb1BVMOI" />
    </div>
</Layout>

<style lang="scss" >
    div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 25px;
        padding: 2rem;
    }

    div.container {height: 40dvh; background-color: #1E6F4A;}
</style>