<header class="site-header">
    <nav>
        <a href="/">Home</a>
		<a href="/sr-ditinho-joana" target="_blank" rel="noopener noreferrer">Sr. Ditinho</a>
		<a href="/condaga-da-dona-luzia" target="_blank" rel="noopener noreferrer">Dona Luzia </a>
		<a href="/museu-carro-de-boi" target="_blank" rel="noopener noreferrer">Carro de Boi</a>
		<a href="/arte-no-quilombo" target="_blank" rel="noopener noreferrer">Arte no Quilombo</a>
    </nav>
</header>

<style lang="scss" >
.site-header {
    position: sticky;
    top: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    height: 50px;

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }
    padding: 0 25px;

    a {
        display: inline-block;
        font-size: 1.3rem;
    }
}

@media (max-width: 690px) {
    .site-header {
        height: 125px;
        position: relative;
        nav { flex-wrap: wrap; }
        a {
            font-size: 1rem;
            margin-bottom: 0.2rem;
            padding: 10px;
        }
        overflow-y: auto;
    }
}
</style>
